/* line 2, ../sass/style.scss */
a,
a:focus {
  outline: 0 !important;
}

/* line 6, ../sass/style.scss */
body {
  background: #f7f7f7;
  text-align: center;
  padding: 30px 30px 150px 30px;
}

/* line 11, ../sass/style.scss */
#map-wrapper {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
}

/* line 17, ../sass/style.scss */
img.map {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: block;
}

/* line 21, ../sass/style.scss */
.point {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: -30px 0 0 -30px;
  padding: 5px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 29, ../sass/style.scss */
.point:hover .inner {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 31, ../sass/style.scss */
.point:hover .inner::before, .point:hover .inner::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 37, ../sass/style.scss */
.point.intersection {
  cursor: pointer;
}
/* line 40, ../sass/style.scss */
.point.start .inner {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  border-color: #02A600;
  background: rgba(0, 255, 0, 0.1);
}
/* line 44, ../sass/style.scss */
.point.start .inner::before {
  content: "Start";
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  width: 60px;
  margin-left: -30px;
}
/* line 50, ../sass/style.scss */
.point.start .inner::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 54, ../sass/style.scss */
.point.end .inner {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  border-color: #02A600;
  background: rgba(0, 255, 0, 0.1);
}
/* line 58, ../sass/style.scss */
.point.end .inner::before {
  content: "End";
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  width: 60px;
  margin-left: -30px;
}
/* line 64, ../sass/style.scss */
.point.end .inner::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 68, ../sass/style.scss */
.point.selected .inner {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  border-color: #02A600;
  background: rgba(0, 255, 0, 0.1);
}
/* line 72, ../sass/style.scss */
.point.selected .inner::before {
  content: "Click to deselect";
}
/* line 76, ../sass/style.scss */
.point .inner {
  height: 50px;
  border: 5px solid #f00;
  width: 50px;
  background: rgba(255, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 84, ../sass/style.scss */
.point .inner::before {
  content: "Click to select";
  position: absolute;
  background: #000;
  color: #fff;
  width: 120px;
  margin-left: -60px;
  height: 25px;
  line-height: 25px;
  left: 50%;
  top: -26px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 13px;
  font-family: Arial;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 100;
}
/* line 103, ../sass/style.scss */
.point .inner::after {
  top: -1px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #000000;
  border-width: 6px;
  margin-left: -6px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 100;
}
