@import "compass/css3";
a,
a:focus {
	outline: 0 !important;
}
html {
	height: 100%;
	min-height: 400px;
	min-width: 700px;
}
body {
	background: #fff;
	text-align: center;
	height: 100%;
	width: 100%;
	padding-top: 51px;
	overflow: hidden;
}
.navbar {
	height: 51px;
}
.navbar-brand {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	float: none;
	color: #ddd !important;
}
#map-wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	padding-right: 300px;
}
img.map {
	display: block;
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
}
#loader {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	padding-right: 300px;
	div {
		width: 100%;
		height: 100%;
		z-index: 100;
		position: relative;
		background: #fff;
		i.spinner {
			position: absolute;
			z-index: 101;
			top: 50%;
			left: 50%;
			margin-left: -22px;
			margin-top: -22px;
			opacity: 0.8;
			width: 44px;
			height: 44px;
			background: url('../img/fancybox_loading.gif') center center no-repeat #000;
			@include border-radius(4px);
		}
	}
}
.sidebar {
	width: 300px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background: #f7f7f7;
	border-left: 1px solid #eee;
	padding-top: 10px;
	.table {
		border-bottom: 1px solid #ddd;
		margin-bottom: 50px;
		td {
			width: 50%;
			text-align: left;
			&:first-child {
				padding-left: 20px;
			}
		}
	}
	h4 {
		padding-left: 20px;
		text-align: left;
	}
}
.hidden {
	display: none;
}
.point {
	position: absolute;
	width: 40px;
	height: 40px;
	margin: -20px 0 0 -20px;
	padding: 0;
	@include box-sizing(content-box);
	z-index: 50;
	&:hover {
		.inner {
			@include opacity(1);
			&::before,
			&::after {
				@include opacity(1);
			}
		}
	}
	&.intersection,
	&.end {
		cursor: pointer;
	}
	&.start .inner {
		@include opacity(1);
		border-color: #02A600;
		background: transparentize(#0f0, 0.9);
		&::before {
			content: "Start";
			@include opacity(1);
			width: 60px;
			margin-left: -30px;
			background: darken(#02A600, 10%);
		}
		&::after {
			@include opacity(1);
			border-top-color: darken(#02A600, 10%);
		}
	}
	&.end .inner {
		@include opacity(1);
		border-color: #02A600;
		background: transparentize(#0f0, 0.9);
		&::before {
			content: "End";
			@include opacity(1);
			width: 60px;
			margin-left: -30px;
		}
		&::after {
			@include opacity(1);
		}
	}
	&.end:hover .inner::before {
		content: "Finish question";
		width: 120px;
		margin-left: -60px;
		background: darken(#02A600, 10%);
	}
	&.end:hover .inner::after {
		border-top-color: darken(#02A600, 10%);
	}
	&.selected .inner {
		@include opacity(1);
		border-color: #02A600;
		background: transparentize(#0f0, 0.9);
		&::before {
			content: "Click to deselect";
		}
	}
	.inner {
		height: 100%;
		width: 100%;
		border: 3px solid #f00;
		background: transparentize(#f00, 0.9);
		@include opacity(0);
		@include transition(all 0.3s ease);
		@include border-radius(3px);
		&::before {
			content: "Click to select";
			position: absolute;
			background: #000;
			color: #fff;
			width: 120px;
			margin-left: -60px;
			height: 25px;
			line-height: 25px;
			left: 50%;
			top: -26px;
			@include border-radius(4px);
			font-size: 13px;
			font-family: Arial;
			@include opacity(0);
			@include transition(opacity 0.3s ease);
			pointer-events: none;
			z-index: 100;
		}
		&::after {
			top: -1px;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(0, 0, 0, 0);
			border-top-color: #000000;
			border-width: 6px;
			margin-left: -6px;
			@include opacity(0);
			@include transition(opacity 0.3s ease);
			pointer-events: none;
			z-index: 100;
		}
	}
}


#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #999;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: #CCC url(../img/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_content {
	background: 16px 16px no-repeat url(../img/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_content.alert {
	background-image: url(../img/info.gif);
}

#popup_content.confirm {
	background-image: url(../img/important.gif);
}

#popup_content.prompt {
	background-image: url(../img/help.gif);
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}